
.main-logo{
  width: 150px;   
}

ion-content{
  --padding-top: 20px;
}

.content{
 text-align: center;
 width: 300px;
 margin: 0 auto;
}



ion-item{
--border-width: 1px;
--border-radius: 20px;
--highlight-color-focused: #ffc409;
--color-focused: #000000;
--detail-font-color: #ffc409;
--highlight-height: 8px;
margin-bottom: 20px;
margin-top: 20px;   
}

ion-label{
color: #ffc409;
}

ion-button{
  --box-shadow: none;
}


