ion-item{
    --border-width: 1px;
    --border-radius: 20px;
    --highlight-color-focused: #ffc409;
    --color-focused: #000000;
    --detail-font-color: #ffc409;
    margin-bottom: 20px;
    margin-top: 20px;  
}

ion-button{
    --background: #CAD300;
    --background-hover: #f7ff66;
}